body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#3b0000,#7a0000,#000000);
    color:white;
    font-family:Arial;
}


p{
    color:#00d9ff;
    font-size:22px;
}

.buttons{
    margin-top:20px;
}

button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
    letter-spacing:1px;
}

button:hover{
    transform:scale(1.1);
    box-shadow: 0 0 15px white;
}
button:nth-child(1){
    background:gold;
    color:black;
}

button:nth-child(2){
    background:#00d9ff;
    color:black;
}


.reactor{
    width:120px;
    height:120px;
    border:6px solid #00d9ff;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;
    color:#00d9ff;

    margin:0 auto;   /* ⭐ THIS FIX CENTERS IT */
    margin-bottom:20px;

    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        box-shadow:
        0 0 10px #00d9ff,
        0 0 20px #00d9ff;
    }

    to{
        box-shadow:
        0 0 30px #00d9ff,
        0 0 60px #00d9ff;
    }
}
.container{
    text-align:center;
    padding:20px;
}

h1{
    color:gold;
    font-size:60px;
    letter-spacing:5px;
    text-shadow: 0 0 10px #ffcc00;
}